--- title: Welcome to Middleman ---
<section id="site-main">
    <div id="sidebar">
        <form>
            <input type="text" id>
            <input type="text">
            <input type="submit" id="submit">
        </form>

    </div>
    <div id="map">

    </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNCMxUuSa4XRej2ax-Lk4vinZJeNOIsKA&callback=initMap" async
    defer></script>