<section id="site-main">
    <div id="sidebar">
        <form>
            <input type="text" id="starting-point">
            <input type="text" id="destination">
            <input type="submit" id="submit">
        </form>

    </div>
    <div id="map">

    </div>
</section>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNCMxUuSa4XRej2ax-Lk4vinZJeNOIsKA&callback=initMap&libraries=places" async defer></script>